<ion-view view-title="Dashboard">
    <ion-content class="padding">

        <div id="container">

            <div class="overlayWrapper">
                <center>
                    <video id="remote-video" autoplay="">
                        Your browser does not support the video tag.
                    </video>
                </center>
            </div>

            <div id="commands">
                <center>
                    <button class="btn" id="start" style="background-color: aquamarine; color: white" ng-click="start();">Go!</button>
                    <button class="btn" disabled id="stop" style="background-color: coral; color: white" ng-click="stop();">Stop</button>
                    <button class="btn" id="restart" style="background-color: gold; color: black" ng-click="restart();">Restart</button>
                    <br /><br />
                    <div class="alert alert-danger">
                        <div id="error-message"></div>
                    </div>

                </center>
                <br />
            </div>
        </div>

    </ion-content>
</ion-view>
